/* https://andy-bell.co.uk/a-more-modern-css-reset/ */

/* Box sizing */
*,
*::before,
*::after {
  box-sizing: border-box;
}

/* Reset margins */
body,
h1,
h2,
h3,
h4,
h5,
p,
figure,
picture {
  margin: 0;
}

/* Set shorter line heights on headings and interactive elements */
h1,
h2,
h3,
h4,
button,
input,
label {
  line-height: 1.1;
}

/* Balance text wrapping on headings */
h1,
h2,
h3,
h4 {
  text-wrap: balance;
}

/* h1,
  h2,
  h3,
  h4,
  h5,
  h6,
  p {
    font-weight: 400;
  } */

/* set up the body */
body {
  line-height: 1.5;
  min-height: 100vh;
  font-family: "Roboto", sans-serif;
  overflow-x: hidden;
}

/* make images easier to work with */
img,
picutre {
  max-width: 100%;
  display: block;
}

/* make form elements easier to work with */
input,
button,
textarea,
select {
  font: inherit;
}

/* remove animations for people who've turned them off */
@media (prefers-reduced-motion: reduce) {
  *,
  *::before,
  *::after {
    animation-duration: 0.01ms !important;
    animation-iteration-count: 1 !important;
    transition-duration: 0.01ms !important;
    scroll-behavior: auto !important;
  }
}

/* Components */
.grid {
  display: grid;
  /* width: 100%; */
}

header {
  margin-inline: auto;
  place-content: center;
}

.form-container {
  /* background-color: blue; */
  grid-template-columns: 1fr 1fr;
  gap: 1.25rem;
  margin: auto;
  padding: 0.5rem;
  border: 1px solid;
  border-radius: 0.2rem;
}

.form-group {
  gap: 0.5rem;
}

.form-group:nth-child(5),
.form-group:nth-child(6) {
  grid-column: 1 / -1;
}

.form-group > p {
  font-size: 0.7rem;
}

.valid {
  color: white;
  background-color: green;
}

.invalid {
  color: white;
  background-color: red;
}
/* input[type="number"]::-webkit-inner-spin-button {
  -webkit-appearance: none;
} */
